<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="AppQs.AppQs"
          android:versionCode="1"
          android:versionName="1.0">
  <uses-sdk android:minSdkVersion="21" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  
  <application android:allowBackup="true"
               android:label="@string/app_name">
  </application>

  <meta-data
    android:name="debug_mode"
    android:value="Y" />

  <meta-data
    android:name="spay_debug_api_key"
    android:value="4dc23249a9164ca18f999c5963ef22c9" />

</manifest>